Project www.marocloi.com

marocloi.com

What should it be able to do?
1. It should be able to crawl all Moroccan laws.
2. It should crawl once a month.
3. It should crawl automatically.
4. The crawler can be coded in php, c++, python or whatever you think is best
5. Every weekday at 3:30 PM, the day's work should be uploaded to github (Mohammed will do the setup)
6. The engine should automatically index/categorize the collections of laws.
7. There are 4 main groups, Civil, Criminal and Business Laws plus Constitutional Laws.
8. It should automatically replace, update legislative amendments.

Function sought:
if you write for example.
Civil, there might be 200,000 laws.
Civil lawsuits, there might be 195,000 laws.
Civil lawsuit against a neighbor may result in 75,000 laws.
Civil lawsuit against a neighbor may result in 5,000 laws.

This means the more you write, the fewer laws appear on the list until you have maybe 5 - 15 laws on the subject.